header {
    margin-bottom: 20px;
}

@media screen and (min-width: 40rem) {
    header {
        display: flex;;
        align-items: center;
        justify-content: space-between;
    }

    header ul {
        display: flex;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
    }
}


@media screen and (min-width: 40rem) and (orientation: landscape) { 
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 30px;
    }
}

